<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.admin.AdminMapper">
<select id="getDae" resultType="com.example.demo.dto.DaeDto">
select * from dae 
order by code asc
</select>
<select id="getJung" resultType="com.example.demo.dto.JungDto">
select * from jung 
where daecode=#{dae}
order by code asc
</select>
<select id="getSo" resultType="com.example.demo.dto.SoDto">
select * from so
where daejung=#{daejung}
order by code asc
</select>
<select id="getCompany" resultType="com.example.demo.dto.CompanyDto">
select * from company
order by code asc
</select>
<select id="getNumber" resultType="Integer">
select ifnull(max(right(pcode,3)),0)+1
from product
where pcode like concat(#{pcode},'%')
</select>
<insert id="proWriteOk">
insert into product(pcode,pimg,dimg,title,price,halin,su,baeprice,baeday,juk,writeday)
values(#{pcode},#{pimg},#{dimg},#{title},#{price},#{halin},#{su},#{baeprice},#{baeday},#{juk},now());
</insert>
<select id="panmaeList" resultType="HashMap">
select g.id,g.userid,g.state,p.title,p.pimg,b.juso
from product as p inner join gumae as g on g.pcode=p.pcode
inner join baesong as b on b.id=g.baeId
order by jumuncode desc
</select>
<update id="chgState">
update gumae 
set state=#{state}
where id=#{id}
</update>
<select id="qnaList" resultType="com.example.demo.dto.QnaDto">
select * from qna
order by id desc
</select>
<insert id="qnaAnswer">
insert into qna(userid,content,ref,qna,writeday,pcode)
values('admin',#{content},#{ref},2,now(),#{pcode})
</insert>
<update id="setRef">
update qna set ref=#{id}
where id=#{id}
</update>
</mapper>