<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.member.MemberMapper">
<select id="useridCheck" resultType="String">
select count(*) from member where userid=#{userid}
</select>
<insert id="memberOk">
insert into member(userid,pwd,email,phone,writeday,name) 
values(#{userid},#{pwd},#{email},#{phone},now(),#{name})
</insert>
<select id="cartView" resultType="com.example.demo.dto.ProductDto">
select c.id,c.su,c.writeday,c.pcode,p.pimg,p.title,p.baeday,p.price,p.halin,p.juk,p.baeprice,
       if(c.writeday=curdate(),1,0) as wchk
from cart as c inner join product as p 
on c.pcode=p.pcode and userid=#{userid}
</select>
<delete id="cartDel">
delete from cart
where id=#{id}
</delete>
<update id="chgSu">
update cart
set su=#{num} 
where id=#{id}
</update>
<select id="getProduct" resultType="com.example.demo.dto.ProductDto">
select * from product
where pcode=#{pcode}
</select>
<select id="jjimList" resultType="com.example.demo.dto.ProductDto">
select p.pimg,p.baeprice,p.title,(p.price-(p.price*p.halin/100)) as price,j.id,j.pcode 
from jjim as j inner join product as p
on j.pcode=p.pcode where userid=#{userid}
</select>
<delete id="jjimDel">
delete from jjim
where id=#{id}
</delete>
<insert id="addCart">
insert into cart(userid,pcode,su,writeday)
values(#{userid},#{pcode},1,now())
</insert>
<select id="getCartSu" resultType="String">
select count(*) from cart 
where userid=#{userid} 
</select>
<select id="isCart" resultType="Boolean">
select count(*) from cart
where userid=#{userid} and pcode=#{pcode}
</select>
<update id="upCart">
update cart 
set su=su+1 
where userid=#{userid} and pcode=#{pcode}
</update>
<select id="jumunList" resultType="HashMap">
select g.review,p.pcode,g.id,b.name,g.state,p.pimg,p.title,g.writeday
from product as p inner join gumae as g on p.pcode=g.pcode
inner join baesong as b on b.id=g.baeId
where g.userid=#{userid}
<if test="month!=0">
<![CDATA[and g.writeday>=#{start} and g.writeday<=#{end}]]>
</if>
</select>
<update id="chgState">
update gumae
set state=#{state}
where id=#{id}
</update>
<insert id="reviewOk">
insert into review(gid,star,userid,pcode,title,content,writeday)
values(#{gid},#{star},#{userid},#{pcode},#{title},#{content},now())
</insert>
<update id="chgReview">
update gumae 
set review=1
where id=#{id} 
</update>
<select id="avgStar" resultType="Double">
select ifnull(sum(star)/count(*),0) from review
where pcode=#{pcode}
</select>
<update id="chgStar">
update product set star=#{avg}
where pcode=#{pcode}
</update>
<update id="upReview">
update product 
set review=review+1
where pcode=#{pcode}
</update>
<delete id="reviewDelete">
delete from review
where id=#{id}
</delete>
<update id="chgStar2">
update product 
set star=#{avg},review=review-1
where pcode=#{pcode}
</update>
<update id="setReview">
update gumae
set review=0
where id=#{gid}
</update>
<select id="getReview" resultType="com.example.demo.dto.ReviewDto">
select * from review
where id=#{id}
</select>
<update id="reviewUpdateOk">
update review 
set star=#{star},title=#{title},content=#{content}
where id=#{id}
</update>
<select id="memberInfo" resultType="com.example.demo.member.MemberDto">
select * from member
where userid=#{userid}
</select>
<update id="chgEmail">
update member set email=#{email}
where userid=#{userid}
</update>
<update id="chgPhone">
update member set phone=#{phone}
where userid=#{userid}
</update>
<update id="chgPwd">
update member set pwd=#{newPwd}
where userid=#{userid}
</update>
<select id="isPwd" resultType="Boolean">
select count(*) from member
where userid=#{userid} and pwd=#{oldPwd}
</select>
<select id="baesongList" resultType="com.example.demo.dto.BaesongDto">
select * from baesong
where userid=#{userid}
order by gibon desc,id desc
</select>
</mapper>
